body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #ffffff;
    background-repeat: no-repeat
}

/* form CSS Start */
.contact_form{
    display: block;
    position: relative;
}

.connect{
    text-align: center;
    font-weight: bolder;
}

.form_span{
    color: #FF8101;
    
}

.submit_btn{
    font-size: 1em;
    color: #ffffff;
    background-color: #FF8101;
    border-radius: .3em;
    cursor: pointer;
    border: none;
}
.submit_btn:hover{
    color: #FF8101;
    background-color: #ffffff;
    border: 2px solid #FF8101;

}

input, textarea{
    width: 100%;
    margin-left: .2em;
    margin-right: .2em;
    border-radius: .3em;

}

.address{
    margin: 2em;

}

.map{
    width: 100;
}


/* form CSS End */
/* map CSS START */
.map{
    width:100%;
    border:1px solid gray;
    contain:"lazy";
}
/* map CSS END */
/* footer CSS START */
.fa {
    padding: 0.4em;
    font-size: 1em;
    width: 1.8em;
    text-align: center;
    text-decoration: none;
    border-radius: 1em;
}
  
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}
  
.fa-instagram {
    background: #125688;
    color: white;
}

/* login form START */

.card0 {
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 0px
}

.card2 {
    margin: 0px 40px
}

.logo {
    width: 200px;
    height: 100px;
    margin-top: 20px;
    margin-left: 35px
}

.image {
    width: 360px;
    height: 280px
}

.border-line {
    border-right: 1px solid #EEEEEE
}

.facebook {
    background-color: #3B5998;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer
}

.twitter {
    background-color: #1DA1F2;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer
}

.linkedin {
    background-color: #2867B2;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer
}

.line {
    height: 1px;
    width: 45%;
    background-color: #E0E0E0;
    margin-top: 10px
}

.or {
    width: 10%;
    font-weight: bold
}

.text-sm {
    font-size: 14px !important
}

::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 300
}

:-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

::-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

input,
textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #304FFE;
    outline-width: 0
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

a {
    color: inherit;
    cursor: pointer
}

.btn-blue {
    background-color: #1A237E;
    width: 150px;
    color: #fff;
    border-radius: 2px
}

.btn-blue:hover {
    background-color: #000;
    cursor: pointer
}

.bg-blue {
    color: #fff;
    background-color: #1A237E
}

@media screen and (max-width: 991px) {
    .logo {
        margin-left: 0px
    }

    .image {
        width: 300px;
        height: 220px
    }

    .border-line {
        border-right: none
    }

    .card2 {
        border-top: 1px solid #EEEEEE !important;
        margin: 0px 15px
    }
}

/* Login Page END */

/* Sign up page START */

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #3B5998;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}

/* SLIDESHOW CSS START */

.col-md-3{
    display: inline-block;
    margin-left: -4px;
}
.col-md-3 img{
    width: 100%;
    height: auto;
}

body .carousel-indicator li{
    background-color: #304FFE;
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon{
    background-color: #304FFE;
}
body .no-padding{
    padding-left: 0;
    padding-right: 0;
}